html, body{
    width: 100%;
    height: 100%;
    font-family: 'Pretendard-Regular', sans-serif;
}
#page1 {
    width: 100%;
    height: 100%;
    background-color: #e6e8e7;
}
.w1200{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    /* background-color: darkcyan; */
}
#page1 > .w1200::after{
    content: "";
    display: block; 
    width: 1200px;
    height: 800px;
    border: 1px solid #acc8d6;
    border-style: none solid;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -600px;
    margin-top: -400px;
}
#page1 > div > h1{
    width: 468px;
    height: 226px;
    background-color: rgba(255, 255, 255, 0.10);
    font-family: 'Pretendard-ExtraLight';
    font-size: 100px;
    text-align: center;
    line-height: 180px;
    color: #acc8d6;
    float: left;
    margin-top: 173px;
    margin-left: 50px;
}
#page1 > div > h1::after{
    content: "";
    display: block;
    width: 350px;
    height: 2px;
    border-bottom: 1px solid #acc8d6;
    margin: 0 auto;
}
.page1_name {
    width: 320px;
    height: 165px;
    font-size: 30px;
    font-family: 'Pretendard-Light';
    text-align: right;
    color: #75a3ba;

    float: right;
    margin-top: 750px;
    margin-right: 49px;
}
.page1_name > h3 {font-size: 50px;}

#page2 {
    width: 100%;
    height: 100%;
    background-color: #e6e8e7;
    color: #75a3ba;
}
.w1200 > h2{
    font-family: 'Pretendard-Medium';
    font-size: 32px;
    color: #75a3ba;
    float: left;
    margin-top: 39px;
    margin-left: 46px;
}
.page2_left{
    float: left;
    clear: left;
    width: 600px;
    height: 900px;
    box-sizing: border-box;
    padding-left: 72px;
    padding-top: 90px;
}
.page2_left > h4{
    margin-top: 39px;
    font-size: 30px;
    font-family: 'Pretendard-Regular';
}
.page2_left > h5 {
    font-size: 24px;
    font-family: 'Pretendard-ExtraLight';
    margin-top: 22px;
}
.page2_left > h5 > span{
    display: block;
    font-family: 'Pretendard-Thin';
    margin-top: 18px;
}
.page2_left > h5::after{
    content: "";
    display: block;
    width: 350px;
    height: 1px;
    border-bottom: 1px solid #75a3ba;
    margin-top: 62px;
}
.page2_left > ul{
    width: 500px;
    height: 110px;
    margin-top: 69px;
}
.page2_left > ul > li{
    font-size: 22px;
    font-family: 'Pretendard-Regular';
    margin-bottom: 18px;
}
.page2_left > ul > li > span{
    width: 180px;
    display: block;
    float: left;
    font-family: 'Pretendard-ExtraLight';
    margin-right: 28px;
}
.page2_right{
    width: 600px;
    height: 900px;
    box-sizing: border-box;
    float: right;

    padding-top: 90px;
    padding-left: 120px;
}
.page2_right > h4{
    font-size: 30px;
    font-family: 'Pretendard-Medium';
    margin-bottom: 40px;
}
.certificate_item{
    width: 480px;
    height: 186px;
    margin-bottom: 110px;
}
.certificate_item > li{ 
    font-size: 22px;
    font-family: 'Pretendard-ExtraLight';
    margin-bottom: 19px;
    
}
.certificate_item > li > span{
    font-family: 'Pretendard-Regular';
    margin: 0 21px;
    
}
.skill_item{
    width: 480px;
    height: 320px;
    margin-left: 11px;
}
.skill_item > li{
    float: left;
    margin-right: 19px;
}
.skill_item > li > div{
    width: 22px;
    height: 240px;
    border-radius: 15px;
    border: 1px solid #75a3ba;
}
.skill_item > li > div > div{
    width: 16px;
    height: 220px;
    border-radius: 15px;
    background-color: #75a3ba;
    margin: 0 auto;
    margin-top: 16px;
}
#page3 {
    width: 100%;
    height: 100%;
    background: url("../images/page3_bg.jpg");
}
.page3_slide2{
    display: none;
}
#page4 {
    width: 100%;
    height: 100%;
    background: url("../images/page4_bg.jpg");
}
.page4_slide2{
    display: none;
}
#page5 {
    width: 100%;
    height: 100%;
    background-color: #e6e8e7;
}
.page5_slide2{display: none;}
.page5_slide3{display: none;}
#page6 {
    background: url("../images/page6_bg.jpg");
}