@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body, html{
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #333333;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
input{
    background-color: transparent;
    border: none;
    outline: none;
}
/* ----------------------- 헤더영역 ---------------------------------------- */
#header{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
.utility{
    width: 320px;
    height: 30px;
    float: right;
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
}
.utility > ul{
    width: 320px;
    height: 30px;
}
.utility > ul > li{
    float: left;
}
.utility > ul > li:not(:last-child){padding-right: 50px;}
.utility > ul > li:last-child > span{margin-left: 10px;}
.utility > ul > li:nth-child(3){position: relative;}
.languageButton{
    width: 20px;
    height: 20px;
    background: url("../images/mainUtilityicon.png") no-repeat;
    
    position: absolute;
    top: 4px;
    right: -30px;
}
.languageButton > span{display: none;}
.languageSub{
    position: absolute;
    top: 25px;
    width: 98px;
    height: 105px;
    padding-top: 5px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #d2d2d2;
    z-index: 10;

    font-size: 13px;
    text-align: center;
    line-height: 1.8;
    display: none;
}
.logo{
    width: 250px;
    height: 100px;
    margin: 0 auto;
}

.languageSub > li > a:hover{
    display: block;
    background-color: rgb(240, 240, 240);
}

/* ----------------------- 네비게이션영역 ---------------------------------------- */
#nav{
    height: 55px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    border-top: 1px solid #d2d2d2;
}
#nav > ul{
    width: 1200px;
    height: 55px;
    margin: 0 auto;
}
#nav > ul > li{
    float: left;
    padding: 0 65px;
    line-height: 55px;
    position: relative;
}


#nav > ul > li:nth-child(1) > .sub{display: none;}
#nav > ul > li:nth-child(2) > .sub{display: none;}
#nav > ul > li:nth-child(3) > .sub{display: none;}
#nav > ul > li:nth-child(4) > .sub{display: none;}
#nav > ul > li:nth-child(5) > .sub{display: none;}
#nav > ul > li:nth-child(6) > .sub{display: none;}

#nav > ul > li:nth-child(1) > .subTitle{display: none;} 
#nav > ul > li:nth-child(2) > .subTitle{display: none;}
#nav > ul > li:nth-child(3) > .subTitle{display: none;}
#nav > ul > li:nth-child(4) > .subTitle{display: none;}
#nav > ul > li:nth-child(5) > .subTitle{display: none;}
#nav > ul > li:nth-child(6) > .subTitle{display: none;}

#nav > ul > li > .subTitle{
    display: block;
    width: 200px;
    position: absolute;
    top: 55px;
    background-color: white;
    color: #1471ac;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding-top: 49px;
    border: 1px solid #d2d2d2;
    border-right: none;
    box-sizing: border-box;
    z-index: 10;
}
#nav > ul > li:nth-child(1) > .subTitle{height: 454px; left: 0;}
#nav > ul > li:nth-child(2) > .subTitle{height: 272px; left: -196px;}
#nav > ul > li:nth-child(3) > .subTitle{height: 362px; left: -392.5px;}
#nav > ul > li:nth-child(4) > .subTitle{height: 406px; left: -588.5px;}
#nav > ul > li:nth-child(5) > .subTitle{height: 452px; left: -785px;}
#nav > ul > li:nth-child(6) > .subTitle{height: 638px; left: -981px;}
.subTitle::after{
    content: "";
    display: block;
    width: 45px;
    height: 3px;
    background-color: #1471ac;
    margin: 5px auto;
}
#nav > ul > li > .sub{
    width: 230px;
    /* height: 453px; */
    position: absolute;
    top: 55px;
    background-color: #1471ac;
    color: white;
    font-size: 15px;
    font-weight: 400;
    box-sizing: border-box;
    border: 1px solid #d2d2d2;
    border-style: solid none;
    z-index: 15;
}

#nav > ul > li:nth-child(1) > .sub{height: 454px; left: 200px;} 
#nav > ul > li:nth-child(2) > .sub{height: 272px; left: 4px;}
#nav > ul > li:nth-child(3) > .sub{height: 362px; left: -192px;}
#nav > ul > li:nth-child(4) > .sub{height: 406px; left: -388px;}
#nav > ul > li:nth-child(5) > .sub{height: 452px; left: -585px;}
#nav > ul > li:nth-child(6) > .sub{height: 638px; left: -781px;}

#nav > ul > li > .sub > li{
    position: relative;
    width: 230px;
    height: 45px;
    padding-left: 18px;
    border-bottom: 1px solid rgba(239, 239, 239, 0.2);
    line-height: 45px;
    box-sizing: border-box;
}
#nav > ul > li:nth-child(1) > .sub > li:nth-child(1), #nav > ul > li:nth-child(1) > .sub > li:nth-child(6){
    height: 69px;
}
#nav > ul > li:nth-child(6) > .sub > li:nth-child(4), #nav > ul > li:nth-child(6) > .sub > li:nth-child(7), #nav > ul > li:nth-child(6) > .sub > li:nth-child(10), #nav > ul > li:nth-child(6) > .sub > li:nth-child(11){
    height: 69px;
}
#nav > ul > li:nth-child(6) > .sub > li:nth-child(2){
    height: 92px;
}
.subSub{
    /* display: none; */
    font-size: 14px;
    font-weight: 100;
    padding-left: 10px;
    color: #333333;

    background-color: white;
    border: 1px solid #d2d2d2;
    border-left: none;
    border-bottom: none;
    box-sizing: border-box;

    width: 770px;
    height: 45px;
    position: absolute;
    top: -1px;
    left: 230px;
}
/* .sub1 > li > .subSub{display: block;} */
/* .sub2 > li > .subSub{display: block;} */
/* .sub3 > li > .subSub{display: block;} */
/* .sub4 > li > .subSub{display: block;} */
/* .sub5 > li > .subSub{display: block;} */
/* .sub6 > li > .subSub{display: block;} */

.subSub > li{float: left; height: 25px;}
.subSub > li > a > span{padding: 0 14px;}

/* #nav > ul > li > .sub1 > li > .subSub{display: none;} */
/* #nav > ul > li > .sub2 > li > .subSub{display: none;} */
/* #nav > ul > li > .sub3 > li > .subSub{display: none;} */
/* #nav > ul > li > .sub4 > li > .subSub{display: none;} */
/* #nav > ul > li > .sub5 > li > .subSub{display: none;} */
/* #nav > ul > li > .sub6 > li > .subSub{display: none;} */
#nav > ul > li:nth-child(1) > .sub > li:nth-child(1) > .subSub, #nav > ul > li:nth-child(1) > .sub > li:nth-child(6) > .subSub{
    height: 69px;
}
#nav > ul > li:nth-child(6) > .sub > li:nth-child(4) > .subSub, #nav > ul > li:nth-child(6) > .sub > li:nth-child(7) > .subSub, #nav > ul > li:nth-child(6) > .sub > li:nth-child(10) > .subSub, #nav > ul > li:nth-child(6) > .sub > li:nth-child(11) > .subSub{
    height: 69px;
}
#nav > ul > li:nth-child(6) > .sub > li:nth-child(2) > .subSub{
    height: 92px;
}
#nav > ul > li > .sub > li:last-child > .subSub{border-bottom: 1px solid #d2d2d2;}
#nav > ul > li > .sub > li > .subSub > li > a > span {cursor:default}
#nav > ul > li > .sub > li:last-child > .subSub{height: 46px;}
#nav > ul > li > .sub6 > li > .subSub{width: 770.5px;}
/* ----------------------- 본문영역 ---------------------------------------------- */
/* Section1---------------------------------- */
.searchBlock{
    width: 100%;
    height: 180px;
    background: url("../images/mainSearchbg.jpg") no-repeat;
    padding-top: 55px;
    box-sizing: border-box;
    /* position: relative; */
    z-index: -1;
}
.searchTab{
    width: 600px;
    height: 65px;
    background-color: #f6f6f6;
    border-radius: 10px 10px 0 0;
    margin: 0 auto;
    position: relative;
}
.searchTab > input:nth-of-type(1){
    width: 420px;
    font-size: 20px;
    font-weight: 200;
    line-height: 65px;
    padding-left: 30px;
}
.MenuTab > span{display: none;}
.searchIcon{
    position: absolute;
    top: 27%;
    right: 15%;
    width: 30px;
    height: 30px;
    background: url("../images/mainSearchicon1.png") no-repeat;
    cursor: pointer;
}
.searchIcon:hover{
    opacity: 50%;
    transition: 400ms;
}
.searchTab > span{display: none;}
.MenuTab{
    position: absolute;
    top: 32%;
    right: 5%;
    width: 30px;
    height: 30px;
    background: url("../images/mainSearchicon2.png") no-repeat;
    cursor: pointer;
}
.MenuTab:hover{
    opacity: 50%;
    transition: 400ms;
}
.keywordTop10{
    position: absolute;
    width: 600px;
    height: 260px;
    background-color:#f6f6f6;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 300;
    border-radius: 0 0 10px 10px;
    display: none;
    z-index: 10;
}
.topLine{
    margin: 0 auto;
    width: 500px;
    height: 1px;
    border-top: 1px solid #e3e3e3;
}
.keywordTop10 > h4{
    font-size: 14px;
    padding-left: 51px;
    padding-top: 16px;
}
.keywordTop10 > h4 > span{
    color: #1471ac;
    font-weight: 500;
}
.keywordTop10 > ul{
    width: 300px;
    height: 236px;
    font-size: 16px;
    padding-top: 25px;
    padding-left: 54px;
    float: left;
    box-sizing: border-box;
}
.keywordTop10 > ul:last-child{
    padding-left: 99px;
}
.keywordTop10 > ul > li{
    width: 170px;
    margin-bottom: 24px;
    float: left;
}
.keywordSnsWarp{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}
.todayKeyword{
    padding-top: 20px;
    width: 560px;
    height: 15px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 300;
}
.todayKeyword > li{
    float: left;
}
.todayKeyword > li > a > span{cursor: default;}
.todayKeyword > li:first-child > a > span{padding-left: 6px;}
.todayKeyword > li:not(:last-child){padding-right: 12px;}
.sns{
    width: 172px;
    height: 35px;
    float: right;
    margin-top: -20px;
}
.sns > li{
    float: left; 
}
.sns > li:not(:last-child){padding-right: 13px;}
/* Section2---------------------------------- */
.slideBlock{
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    padding-top: 10px;
}
.mainSlide{width: 790px; height: 400px; overflow: hidden; float: left; z-index: -10;}
.mainSlide > ul{
    width: 300%; height: 100%;
    position: relative;
    top: 0;
    left: 0;
}
.mainSlide > ul > li{
    width: 790px; height: 400px;
    float: left;
}
.slideBullet{
    width: 250px;
    height: 33px;
    position: relative;
    left: 50%;
    bottom: 11%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 16.5px;
}
.slideBullet span{display: none;}
.slideBullet > ul{
    width: 250px; height: 33px;
    padding-left: 23px;
}
.slideBullet > ul > li {
    float: left;
    padding-top: 8px;
}
.slideBullet > ul > li > a{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
}
.slideBullet > ul > li > a.on{
    background-color: #1471ac;
}
.slideBullet > ul > li:not(:nth-child(5)) > a{margin-right: 28px;}
.slideStart{
    width: 13px;
    height: 17px;
    background: url("../images/mainSlideStopButton.png");
}
.slideLeftButton, .slideRightButton{
    width: 11px;
    height: 17px;
}
.slideLeftButton{ background: url("../images/mainSlideLeftButton.png") no-repeat; margin-left: 16px; margin-right: 26px;}
.slideRightButton{ background: url("../images/mainSlideRightButton.png") no-repeat; margin-left: 26px;}
.suncheonMayor{
    width: 390px; height: 400px;
    background-color: #e7f1fc;
    background-image: url("../images/mainSuncheonMayor.png");
    background-repeat: no-repeat;
    background-position: right 117px;
    float: right;
    color: #333333;
    box-sizing: border-box;
    z-index: -10;
}
.suncheonMayor > h3{
    padding-top: 40px;
    padding-left: 25px;
    font-size: 36px;
    font-weight: 400;
}
.suncheonMayor > h3 > span{
    padding-left: 10px;
    font-size: 50px;
    font-weight: 700;
}
.suncheonMayor > h4{
    font-size: 24px;
    font-weight: 400;
    margin-left: 34px;
    line-height: 1.2;
}
.suncheonMayor > h4:nth-of-type(1){padding-top: 36px;}
.suncheonMayor > h4:nth-of-type(2){padding-left: 20px;}
.suncheonMayor > h4 > span{
    font-size: 30px;
    font-weight: 500;
    color: #1471ac;
}
.suncheonMayor > h4:nth-child(3) > span{color: #7e9dcd;}
.list{
    font-size: 17px;
    font-weight: 300;
    padding-left: 40px;
    padding-top: 20px;
}
.list > li:not(:nth-of-type(4)){
    padding-bottom: 12px;
}
.list > li > a:hover{
    font-weight: 400;
}
.clickList{
    width: 390px;
    height: 53px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 53px;

    position: relative;
    bottom: -25px;
}
.clickList > li{
    float: left;
}
.clickList > li:nth-of-type(1){
    width: 195px;
    height: 53px;
    background-color: #1471ac;
}
.clickList > li:nth-of-type(2){
    width: 195px;
    height: 53px;
    background-color: #7e9dcd;
}
/* Section3---------------------------------- */
.quickMenu{
    width: 100%;
    height: 150px;
    background-color: #1471ac;
    margin-top: 80px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.quickMenuWrap{
    width: 1200px;
    height: 150px;
    margin: 0 auto;
}
.quickMenuWrap > button > span{display: none;}
.quickLeft, .quickRight{
    width: 60px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
}
.quickLeft{
    float: left;
    background-image: url("../images/mainQuickDirectionLeft.png");
}
.quickLeft:hover, .quickRight:hover{
    opacity: 0.7;
    transition-duration: 500ms;
}
.quickRight{
    float: right;
    background-image: url("../images/mainQuickDirectionRight.png");
}
.quickContainer{
    width: 1080px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
}
.quickList{
    width: 1320px;
    height: 150px;
    position: relative;
    top: 0;
    left: -120px;
}
.quickList > li{
    width: 120px;
    height: 150px;
    padding-top: 23px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}
.quickList > li > a > span{
    display: block;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
/* Section4---------------------------------- */
.informationBlock{
    width: 1200px;
    height: 470px;
    margin: 0 auto;
    margin-top: 108px;
    position: relative;
}
.informationBlock > article{float: left;}
.notice{
    width: 890px;
    height: 470px;
}
.notice > ul{
    width: 170px;
    height: 400px;
    font-size: 22px;
    line-height: 72px;
    font-weight: 400;
    background-color: #f0f0f0;
}
.notice > ul > li{
    width: 170px;
    height: 72px;
    padding-left: 30px;
    box-sizing: border-box;
}
/* .notice > ul > li:not(:nth-of-type(5))::after{
    content: "";
    display: block;
    width: 138px;
    height: 1px;
    border-top: 1px solid #d4d4d4;
} */
.notice > ul > li > a{
    display: block;
    width: 161px;
    height: 72px;
}
.notice > ul > li > a > span{
    display: block;
    width: 138px;
    height: 1px;
    border-top: 1px solid #d4d4d4;
}
.notice > ul > li > a > span:nth-of-type(1){display: none;}

.noticeOn{
    /* margin-left: 32px; */
    background-color: #7e9dcd;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    transition: 500ms;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    /* padding-right: 30px; */
}

.notice > ul > li:nth-of-type(1) > ul{display: none;}
.notice > ul > li:nth-of-type(2) > ul{display: none;}
.notice > ul > li:nth-of-type(3) > ul{display: none;}
.notice > ul > li:nth-of-type(4) > ul{display: none;}
.notice > ul > li:nth-of-type(5) > ul{display: none;}
.noticeSub{
    width: 648px;
    height: 456px;
    position: absolute;
    top: 7px;
    left: 170px;
    padding-left: 45px;
}
.noticeSub > li{
    width: auto;
    height: auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}

.noticeSub > li:nth-of-type(1){
    padding-top: 29px;
    height: auto;
    font-size: 28px;
    font-weight: 500;
}
.noticeSub > li:nth-of-type(1)::after{
    content: "";
    display: block;
    width: 648px;
    height: 3px;
    background-color: #7e9dcd;
    margin-top: 25px;
    margin-bottom: 29px;
}
.noticeSub > li:nth-of-type(1) > a > span{
    float: right;
    display: block;
    width: 30px;
    height: 30px;
    background: url("../images/main+.png")
}
.noticeSub > li:nth-of-type(1) > a > span > span{display: none;}

.noticeSub > li:not(:nth-of-type(1)){
    width: auto;
    height: 35px;
    padding-bottom: 18px;
}
.noticeSub > li:not(:nth-of-type(1), :last-child)::after{
    content: "";
    display: block;
    width: 648px;
    height: 1px;
    background-color: #d4d4d4;
    /* margin: 18px 0; */
    margin-top: 18px;
}
.noticeSub > li > a > span{float: right;}
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
.tab_bx{display: none;}
.tab_bx{
    width: 648px;
    height: 456px;
    position: absolute;
    top: 0;
    left: 215px;
}
.tab_bxOn{
    display: block;
    transition-duration: 500ms;
}
.tab_bx > h3{
    padding-top: 29px;
    font-size: 28px;
    font-weight: 500;
}
.tab_bx > h3 > a > span{
    float: right;
    display: block;
    width: 30px;
    height: 30px;
    background: url("../images/main+.png");
}
.tab_bx > h3 > a > span > span{display: none;}
.tab_bx > h3::after{
    content: "";
    display: block;
    width: 648px;
    height: 3px;
    background-color: #7e9dcd;
    margin-top: 25px;
    margin-bottom: 29px;
}
.tab_bx > ul{
    font-size: 16px;
    font-weight: 400;
}
.tab_bx > ul > li:not(:last-child)::after{
    content: "";
    display: block;
    width: 648px;
    height: 1px;
    background-color: #d4d4d4;
    margin: 18px 0;
}
.tab_bx > ul > li > a > span{float: right;}
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
.informationByField{
    width: 300px;
    height: 470px;
    float: right;
    text-align: center;
}
.informationByField > h3{
    font-size: 24px;
    font-weight: 500;
}
.informationByField > h3::after{
    content: "";
    display: block;
    width: 130px;
    height: 2px;
    background-color: #f0f0f0;
    margin: 0 auto;
    margin-top: 9px;
    margin-bottom: 24px;
}
.informationByField > ul{
    width: 300px;
    height: inherit;
}
.informationByField > ul > li{
    width: 100px;
    height: 80px;
    float: left;
    margin-bottom: 29px;
    position: relative;
}
.informationByField > ul > li > a > span{
    display: block;
}
.informationByField > ul > li:nth-of-type(1) > a > span::before{
    content: "";
    display: block;
    width: 100px;
    height: 63px;
    background: url("../images/mainInformationIcon1.png") no-repeat;
}
.informationByField > ul > li:nth-of-type(2) > a > span::before{
    content: "";
    display: block;
    width: 100px;
    height: 63px;
    background: url("../images/mainInformationIcon2.png") no-repeat;
}
.informationByField > ul > li:nth-of-type(3) > a > span::before{
    content: "";
    display: block;
    width: 100px;
    height: 63px;
    background: url("../images/mainInformationIcon3.png") no-repeat;
}
.informationByField > ul > li:nth-of-type(4) > a > span::before{
    content: "";
    display: block;
    width: 100px;
    height: 63px;
    background: url("../images/mainInformationIcon4.png") no-repeat;
}
.informationByField > ul > li:nth-of-type(5) > a > span::before{
    content: "";
    display: block;
    width: 100px;
    height: 63px;
    background: url("../images/mainInformationIcon5.png") no-repeat;
}
.informationByField > ul > li:nth-of-type(6) > a > span::before{
    content: "";
    display: block;
    width: 100px;
    height: 63px;
    background: url("../images/mainInformationIcon6.png") no-repeat;
}
.informationByField > ul > li:nth-of-type(7) > a > span::before{
    content: "";
    display: block;
    width: 100px;
    height: 63px;
    background: url("../images/mainInformationIcon7.png") no-repeat;
}
.informationByField > ul > li:nth-of-type(8) > a > span::before{
    content: "";
    display: block;
    width: 100px;
    height: 63px;
    background: url("../images/mainInformationIcon8.png") no-repeat;
}
.informationByField > ul > li:nth-of-type(9) > a > span::before{
    content: "";
    display: block;
    width: 100px;
    height: 63px;
    background: url("../images/mainInformationIcon9.png") no-repeat;
}
.informationByField > ul > li:nth-of-type(10) > a > span::before{
    content: "";
    display: block;
    width: 100px;
    height: 63px;
    background: url("../images/mainInformationIcon10.png") no-repeat;
}
.informationByField > ul > li:nth-of-type(11) > a > span::before{
    content: "";
    display: block;
    width: 100px;
    height: 63px;
    background: url("../images/mainInformationIcon11.png") no-repeat;
}
/* Section5---------------------------------- */
.suncheonNews{
    width: 1200px;
    height: 380px;
    margin: 0 auto;
    margin-top: 120px;
    position: relative;
}
.suncheonNews > h3{
    font-size: 30px;
    font-weight: 700;
    position: relative;
}
.suncheonNews > h3 > span{
    color: #1471ac;
}
.suncheonNews > h3::after{
    content: "";
    display: block;
    width: 959px;
    height: 2px;
    background-color: #d4d4d4;
    position: absolute;
    top: 50%;
    left: 160px;
    transform: translateY(-50%);
}
.newsLeft, .newsright{
    width: 34px;
    height: 58px;
    position: absolute;
    top: 55%;
}
.newsLeft > span{display: none;}
.newsright > span{display: none;}
.newsLeft{background: url("../images/mainNewImageDirectionLeft.png"); left: 0;}
.newsright{background: url("../images/mainNewImageDirectionRight.png"); right: 0;}
.newsListWrap{
    width: 1080px;
    height: 270px;
    margin: 0 auto;
    margin-top: 70px;
    overflow: hidden;
}
.newsList{
    width: 1800px;
    position: relative;
    left: -330px;
}
.newsList > li{
    width: 300px;
    height: 270px;
    float: left;
    border: 1px solid #d4d4d4 ;
    box-sizing: border-box;
    /* margin: 0 30px; */
    margin-right: 60px;
    position: relative;
    line-height: 1;
}
.newsList > li > a > img{
    position: absolute;
    top: 0;
}
.newsList > li > a > span{
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin-top: 165px;
    padding-left: 4px;
    line-height: 1;
}
.newsList > li > a > span > span{
    width: 280px;
    font-size: 16px;
    display: block;
    margin-top: 40px;
    padding-right: 5px;
    text-align: right;
    
}
/* Section6---------------------------------- */
.touristAttraction{
    width: 100%;
    height: 600px;
    background: url("../images/mainTheSightBg.jpg") no-repeat;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: white;
    margin-top: 120px;
}
.touristAttraction > h3{padding-bottom: 30px;}
.touristAttraction > h3:nth-of-type(1){padding-top: 207px;}
.touristAttraction > h3 > span{
    color: #7e9dcd;
    font-size: 55px;
    font-weight: 700;
}
.touristAttraction > h4{
    width: 225px;
    height: 55px;
    border: 2px solid white;
    font-size: 22px;
    font-weight: 300;
    line-height: 55px;
    margin: 0 auto;
    margin-top: 15px;
}
/* Section7---------------------------------- */
.suncheonSns{
    width: 1200px;
    height: 460px;
    margin: 0 auto;
    margin-top: 108px;
    font-size: 20px;
    font-weight: 400;
}
.suncheonSns > h3{
    font-size: 30px;
    font-weight: 700;
    position: relative;
}
.suncheonSns > h3 > span{color: #1471ac;}
.suncheonSns > h3 > a{
    float: right;
    /* display: block; */
    width: 30px;
    height: 30px;
    background: url("../images/main+.png");
}
.suncheonSns > h3 > a > span{display: none;}
.suncheonSns > h3::after{
    content: "";
    display: block;
    width: 980px;
    height: 2px;
    background-color: #d4d4d4;
    position: absolute;
    top: 50%;
    left: 153px;
    transform: translateY(-50%);
}
.suncheonSns > ul{
    width: 1080px;
    height: 370px;
    margin: 0 auto;
    margin-top: 60px;
}
.suncheonSns > ul > li{
    width: 300px;
    height: 370px;
    float: left;
    position: relative;
}
.suncheonSns > ul > li:not(:nth-of-type(3)){
    margin-right: 90px;
}
.suncheonSns > ul > li > a > span{
    display: block;
    margin-top: 320px;
}
.suncheonSns > ul > li > a > img{
    position: absolute;
    top: 0;
}
/* ----------------------- 푸터영역 ---------------------------------------- */
#footer{
    width: 100%;
    height: 260px;
    margin: 0 auto;
    margin-top: 80px;
}
.ftTop{
    width: 100%;
    height: 50px;
    background-color: #1471ac;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
}
.ftTop > ul{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    color: white;
}
.ftTop > ul > li{
    width: 400px;
    float: left;
    box-sizing: border-box;
    padding-left: 30px;
    position: relative;
}
.ftTop > ul > li:not(:nth-of-type(2)){
    border: 1px solid white;
    border-style: none solid;
}
.ftTop > ul > li > a > button{
    display: block;
    float: right;
    padding-right: 40px;
}
.ftTop > ul > li > a > button > span{display: none;}
.ftTop > ul > li:nth-child(1) > a > button{
    width: 10px;
    height: 15px;
    background: url("../images/mainfooterButtonImageRight.png") no-repeat;
    margin-top: 17.5px;
}
.ftTop > ul > li:nth-child(2) > a > button, .ftTop > ul > li:nth-child(3) > a > button{
    width: 15px;
    height: 9px;
    background: url("../images/mainfooterButtonImageTop.png") no-repeat;
    margin-top: 20.5px;
}
.ftSub{
    width: 400px;
    height: 300px;
    background-color: white;
    position: absolute;
    top: -303px;
    left: -1px;
    overflow: hidden scroll;
    color: #333333;
    border-left: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
}
.ftSub > li{
    height: 24px;
    padding: 5px 0;
    padding-left: 30px;
}
.ftSub1{display: none;}
/* .ftSub2{display: none;} */
.ftSub2{
    width: 398px;
}
.ftSub::-webkit-scrollbar{width: 8px;}
.ftSub::-webkit-scrollbar-thumb{
    background-color: #eeeeee;
    border-radius: 8px;
}
.ftSub::-webkit-scrollbar-button{display: none;}
.ftMid{
    width: 100%;
    height: 55px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 300;
    box-sizing: border-box;
    border-bottom: 2px solid #eeeeee;
    line-height: 55px;
    margin: 0 auto;
}
.ftMid > ul{
    width: 1200px;
    height: 55px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 55px;
}
.ftMid > ul > li{
    float: left;
}
.ftMid > ul > li > a > span{padding: 0 5px;}
.ftBot{
    width: 1200px;
    margin: 0 auto;
}
.ftBot > img{
    margin-top: 32px;
    width: 189px;
    float: left;
}
.ftBot > p{
    width: 730px;
    float: left;
    font-size: 16px;
    box-sizing: border-box;
    margin-left: 75px;
    margin-top: 42px;
}
.ftBot > ul{
    margin-top: 20px;
    width: 130px;
    height: 130px;
    float: right;
}
.ftBot > ul > li{
    width: 65px;
    height: 65px;
    float: left;
}
/* ---------------------------------------------------------------------------- */
.languageSubOn{
    display: block;
    transition: 500ms;
}
/* .languageSubRotate{
    rotate: (180deg);
    transition: 500ms;
} */

.slideUpOn{
    transition-property: padding-top, padding-bottom, margin-top, margin-bottom, height;
    transition-duration: 500ms;
    box-sizing: border-box;
    overflow: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

